@model Expense_Tracker.Models.Transaction

@{
    var breadcrumbs = ViewBag.Breadcrumbs as IEnumerable<BreadcrumbItem>;
}

@Html.Partial("_Breadcrumbs", breadcrumbs)

<h2>Create category</h2><div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="control-wrapper">
				<div id="default" style='padding-top:75px;'>
					<ejs-dropdownlist id="records" dataSource="@ViewBag.data" value="@ViewBag.value" placeholder="Select a item" allowFiltering="false" popupHeight="200px">
					</ejs-dropdownlist>
				</div>
			</div>
            <div class="form-group mb-3">
                <ejs-textbox id="Amount" placeholder="Amount" ejs-for="Amount"></ejs-textbox>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <span asp-validation-for="Note" class="text-danger"></span>
                <ejs-textbox id="Note" placeholder="Note" ejs-for="Note"></ejs-textbox>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>            
            <div class="mb-3">
                <ejs-datetimepicker id="datetimepicker" value="@ViewBag.value" format="yyyy-MM-dd" placeholder="@Model.Date"></ejs-datetimepicker>
            </div>

		</form>
	</div>
</div>
