@model Category

@{
    var breadcrumbs = ViewBag.Breadcrumbs as IEnumerable<BreadcrumbItem>;
}

@Html.Partial("_Breadcrumbs", breadcrumbs)

<h2>Edit category</h2>

<h1> Edit </h1>

<h4> Category </h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="CategoryId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class='e-btn-group e-outline'>
                <input asp-for="Type" type="radio" id="radioleft" name="Type" value="Expense" checked="@(Model.Type == "Expense")" />
                <label class="e-btn" asp-for="Type" for="radioleft">Expense</label>
                <input type="radio" id="radiomiddle" asp-for="Type" name="Type" value="Income" checked="@(Model.Type == "Income")" />
                <label class="e-btn" for="radiomiddle" asp-for="Type">Income</label>
            </div>
            <div class="form-group my-3">
                <span asp-validation-for="Title" class="text-danger"></span>
                <ejs-textbox id="Title" placeholder="Title" ejs-for="Title" value="@Model.Title"></ejs-textbox>
            </div>
            <div class="form-group mb-3">
                <ejs-textbox id="Icon" placeholder="Icon" ejs-for="Icon" value="@Model.Icon"></ejs-textbox>
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
